.player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke; /* ou tout autre couleur de fond */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.track-info {
    display: flex;
    align-items: center;
}

.track-image {
    width: 50px; /* Ajustez selon vos besoins */
    height: 50px;
    margin-right: 10px;
}

.playback-controls button {
    margin: 0 5px;
}

/* Ajoutez plus de styles selon vos besoins */
